name: Codegen-CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Cache compiled buildscripts
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-gradle-${{ hashFiles('buildSrc/**/*.kts') }}
          path: |
            ./buildSrc/build

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_KEY }}
          gradle-home-cache-includes: |
            caches

      - name: Set up rust
        uses: actions-rust-lang/setup-rust-toolchain@v1 # v1.15.2
        with:
          toolchain: nightly
          components: rustfmt

      - name: Run codegen
        run: cargo test -p codegen-test