name: Rust-CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Cache compiled buildscripts
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-gradle-${{ hashFiles('buildSrc/**/*.kts') }}
          path: |
            ./buildSrc/build
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_KEY }}
          gradle-home-cache-includes: |
            caches
      - uses: jdx/mise-action@v3
      - run: mise build

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Cache compiled buildscripts
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-gradle-${{ hashFiles('buildSrc/**/*.kts') }}
          path: |
            ./buildSrc/build
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_KEY }}
          gradle-home-cache-includes: |
            caches
      - name: Install latest nextest release
        uses: taiki-e/install-action@nextest
      - uses: jdx/mise-action@v3
      - run: mise test

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Cache compiled buildscripts
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-gradle-${{ hashFiles('buildSrc/**/*.kts') }}
          path: |
            ./buildSrc/build
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_KEY }}
          gradle-home-cache-includes: |
            caches
      - uses: jdx/mise-action@v3
      - run: mise lint

  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Cache compiled buildscripts
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-gradle-${{ hashFiles('buildSrc/**/*.kts') }}
          path: |
            ./buildSrc/build
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_KEY }}
          gradle-home-cache-includes: |
            caches
      - uses: actions-rust-lang/setup-rust-toolchain@v1 # v1.15.2
        with:
          toolchain: nightly
          components: rustfmt
      - run: cargo +nightly fmt --all -- --check

  dependencies:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Cache compiled buildscripts
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-gradle-${{ hashFiles('buildSrc/**/*.kts') }}
          path: |
            ./buildSrc/build
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_KEY }}
          gradle-home-cache-includes: |
            caches
      - uses: jdx/mise-action@v3
      - run: mise audit

  spell-check:
    name: Spell Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
      - name: Cache compiled buildscripts
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-gradle-${{ hashFiles('buildSrc/**/*.kts') }}
          path: |
            ./buildSrc/build
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_KEY }}
          gradle-home-cache-includes: |
            caches
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@v1.41.0
